/* Styles go here */

.flexbox{
  display:flex;
  justify-content: space-around;
}

.flexbox div {
    border: 1px solid black;
    height: 100px;
    width: 24%;
}

.flexbox-container{
  outline: 1px solid black;
  display: block;
  width:45%;
  float: left;
}

#target-div{
  width:45%;
  height: 100px;  
  display:block;
  outline: 1px solid black;
  float: right;
  margin:100px;
}

.dragged{
    background: grey;
}

.dragEntered{
    border: 5px dashed green;
}